button {
    background: linear-gradient(#e9e6e6, #8f8d8d);
    width: 150px;
    height: 40px;
    font-weight: bold;
    color: #55585c;
    border-radius: 5px;
    text-shadow: 0 0.5px 0 lightgray;
    border:1px solid rgb(146, 141, 141);
    outline: 5px solid #d4d2d2;
    box-shadow: 0 0 0 6px white, 0 0 0 7px gray;
}

span {
    color: #888888;
}